{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<form action="/add" method="POST" class="form">
    <input type="text" name="subject" placeholder="Enter subject" required>
    <input type="number" name="time" placeholder="Time (minutes)" required>
    <button type="submit">Add Study</button>
</form>

<h3>Total Study Time: {{ total_time }} mins</h3>
<h3>⚡ Productivity: {{ productivity }}%</h3>
<h3>🤖 AI Suggestion: {{ suggestion }}</h3>
<h3>📊 Study Analytics</h3>
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>

<table class="table">
    <tr>
        <th>Subject</th>
        <th>Time</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }} mins</td>
        <td>{{ row[3][:10] }}</td>
        <td class="actions">
        <a href="/edit/{{ row[0] }}" class="edit-btn">Edit</a>
        <a href="/delete/{{ row[0] }}" class="delete-btn">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
window.onload = function () {

    const labels = {{ labels | tojson | safe }};
    const values = {{ values | tojson | safe }};

    console.log("Labels:", labels);
    console.log("Values:", values);

    const canvas = document.getElementById('myChart');

    if (!canvas) {
        console.error("Canvas not found");
        return;
    }

    const ctx = canvas.getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Study Time (mins)',
                data: values,
                backgroundColor: 'rgba(0, 255, 136, 0.7)',
                barThickness: 40,         
                maxBarThickness: 50,       
                categoryPercentage: 0.5,   
                barPercentage: 0.5  
            }]
        },
        options: {
            responsive: true
        }
    });
};
</script>
{% endblock %}